.list {
  background-color: #fff0de;
  padding: 2rem;

  &__add {
    background-color: #80485b;
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
    padding-right: 2rem;
    padding: 0 3.4rem 0 1.4rem;
    border-radius: 2.4rem;

    &--img {
      transform: translateY(-20px);
    }

    &--content {
      color: #fff;
      text-align: center;
    }

    &--text {
      font-weight: 700;
      font-size: 1.7rem;
      text-align: left;
    }

    &--button {
      background-color: #fff;
      color: #34333a;
      font-weight: 700;
      font-size: 1.5rem;
      margin-top: 1.2rem;
      cursor: pointer;
      border: none;
      outline: none;
      box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
      border-radius: 12px;
      padding: 1rem 3rem;
    }
  }
}
