.cart {
  background-color: #fff0de;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // row-gap: 2rem;

  &__add {
    margin: 2rem 2rem 3rem 2rem;
    background-color: #80485b;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2.5rem;
    padding-right: 2rem;
    padding: 0 3.4rem 0 1.4rem;
    border-radius: 2.4rem;
    min-width: 35rem;

    &--img {
      transform: translateY(-20px);
    }

    &--content {
      color: #fff;
      text-align: center;
    }

    &--text {
      font-weight: 700;
      font-size: 1.7rem;
      text-align: left;
    }

    &--button {
      background-color: #fff;
      color: #34333a;
      font-weight: 700;
      font-size: 1.5rem;
      margin-top: 1.2rem;
      cursor: pointer;
      border: none;
      outline: none;
      box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
      border-radius: 12px;
      padding: 1rem 3rem;
    }
  }

  &__list {
    // background-color: orangered;
    flex-grow: 1;
    overflow: auto;
    padding: 0 2rem;
    position: relative;

    &--empty {
      &-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &-img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: 100%;
      }
    }

    &--header {
      display: flex;
      align-items: stretch;
      justify-content: space-between;

      h2 {
        font-weight: 700;
        font-size: 2.4rem;
        color: #34333a;
      }

      div {
        cursor: pointer;
        display: flex;
        align-items: center;

        svg {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }

  &__bottom {
    background-color: #fff;
    padding: 2rem;
    width: 100%;
  }

  &__save {
    display: flex;
    border: 2px solid #f9a109;
    border-radius: 12px;
    overflow: hidden;

    &--disabled {
      border: 2px solid #c1c1c4;

      input {
        pointer-events: none;
      }

      button {
        pointer-events: none;
        background-color: #c1c1c4;
      }
    }

    &--input {
      flex-grow: 1;
      border: none;
      outline: none;
      padding: 0 1rem;
      font-size: 1.6rem;
      font-weight: 500;

      &::placeholder {
        color: #bdbdbd;
      }
    }

    &--button {
      border: none;
      outline: none;
      background-color: #f9a109;
      color: #fff;
      font-weight: 700;
      font-size: 1.6rem;
      padding: 2rem;
      border-radius: 12px 0 0 12px;
      cursor: pointer;
    }
  }

  &__options {
    text-align: center;

    &--button {
      cursor: pointer;
      border: none;
      font-weight: 700;
      font-size: 1.6rem;
    }

    &--cancel {
      background-color: transparent;
      color: #34333a;
    }

    &--complete {
      background-color: #56ccf2;
      border-radius: 12px;
      padding: 2rem;
      color: #ffffff;
      margin-left: 1.5rem;
    }
  }
}

.itemset {
  margin-top: 3.5rem;
  position: relative;

  &__heading {
    font-weight: 500;
    font-size: 1.6rem;
    color: #828282;
    text-transform: uppercase;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.8rem;

    &--left {
      display: flex;
      align-items: center;
    }

    &--checkbox {
      height: 1.8rem;
      width: 1.8rem;
      border: 2px solid #f9a10a;
      margin-right: 0.5rem;
      padding: 0.1rem;
      display: flex;
      align-items: stretch;
      cursor: pointer;

      &-active {
        background-color: #f9a10a;
        width: 100%;
      }
    }

    &--name {
      font-weight: 500;
      font-size: 2rem;
      color: #000000;

      &-completed {
        text-decoration: line-through;
      }
    }

    &--right {
      position: absolute;
      right: 0;
    }

    &--amount {
      font-weight: 700;
      font-size: 1.3rem;
      color: #f9a10a;
      background-color: #fff0de;
      outline: none;
      border: 1px solid #f9a10a;
      border-radius: 15px;
      padding: 0.5rem 1.5rem;
      cursor: pointer;

      &:hover {
        color: #fff;
        background-color: #f9a10a;
      }

      &-notEditable {
        pointer-events: none !important;
      }
    }

    &--edit {
      background-color: #fff;
      color: #f9a10a;
      display: flex;
      align-items: center;
      border-radius: 8px;
      overflow: hidden;

      &-amount {
        font-weight: 700;
        font-size: 1.3rem;
        color: #f9a10a;
        background-color: transparent;
        outline: none;
        border: 1px solid #f9a10a;
        border-radius: 15px;
        padding: 0.5rem 1.5rem;
        margin: 0 0.5rem;
        cursor: pointer;

        &:hover {
          background-color: #f9a10a;
          color: #fff;
        }
      }

      &-delete {
        background-color: #f9a10a;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 0.8rem 0.5rem;

        svg {
          color: #fff;
          width: 2rem;
          height: 2rem;
        }
      }

      &-symbol {
        line-height: 1;
        padding: 0.8rem 0.5rem;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
          background-color: rgba(#f9a10a, 0.3);
        }

        svg {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}
