.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(#000, 0.6);
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

.loading-spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #f9a10a;
    border-color: #f9a10a transparent #f9a10a transparent;
    animation: loading-spinner 1.2s linear infinite;
  }
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
