.menuCategory {
  margin-bottom: 5rem;
  &__name {
    font-weight: 700;
    font-size: 2.2rem;
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 1rem;
  }

  &__item {
    min-width: 20rem;
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    overflow: hidden;

    &--name {
      font-weight: 700;
      font-size: 1.8rem;
      color: #000000;
      padding: 1.2rem 0 1.2rem 1.2rem;
      margin: auto 0;
    }

    &--add {
      background-color: transparent;
      outline: none;
      border: none;
      padding: 0 1rem;
      cursor: pointer;

      svg {
        width: 2rem;
        height: 2rem;
        color: #c1c1c4;
      }

      &:hover {
        background-color: orange;

        svg {
          color: #fff;
        }
      }
    }

    &--added {
      background-color: orange;

      svg {
        color: #fff;
      }
    }
  }
}
